.education {
    text-align: left;
    padding: 5px 15px 5px 5px;
}

.education .title {
    border-bottom: 1px solid #ddd;
    margin: 0 0 10px;
    padding: 0;
    font-size: 1.2em;
}

.education .block {
    display: flex;
    padding: 7px 0;
}

.education .block .time {
    flex: 1 20%;
    font-weight: bold;
}

.education .block .details {
    flex: 1 80%;
}

.education .block .details .degree {
    font-weight: bold;
}

.education .block .details .items {
    margin: 10px 0;
    padding-left: 15px;
}