.App {
  margin: 0 auto;
  height: 100%;
}

.App .body {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.App .body .left {
  flex: 1 75%;
  height: 100%;
}
.App .body .right {
  flex: 1 25%;
  background-color: #ddd;
}
